<html>
    <body>
        <form action="/api/evaluation/add" method="post" class="form-example">
            <div class="form-example">
                <label>Title </label>
                <input type="text" name="title" >
            </div>
            <div class="form-example">
                <input type="submit" value="Add">
            </div>
        </form>
    </body>
</html>