body{
    margin-top:20px;
    background:#FAFAFA
}
img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*==================================================
  Create Post Box CSS
  ==================================================*/

.create-post{
  width: 100%;
  min-height: 90px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f2f2;
}

.create-post .form-group{
  margin-bottom: 0;
  display: inline-flex;
}

.create-post .form-group .form-control{
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.create-post .form-group img.profile-photo-md{
  margin-right: 10px;
}

.create-post .tools{
  padding: 8px 0 10px;
}

.create-post .tools ul.publishing-tools{
  display: inline-block;
  text-align:left;
  margin: 0;
  padding:5px 0;
}

.create-post .tools ul.publishing-tools li a{
  color: #6d6e71;
  font-size: 18px;
}

.create-post .tools ul.publishing-tools li a:hover{
  color: #27aae1;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


/*==================================================
  Friend List CSS = Newsfeed and Timeline
  ==================================================*/

.friend-list .friend-card{
  border-radius: 4px;
  border-bottom: 1px solid #f1f2f2;
  overflow: hidden;
  margin-bottom: 20px;
}

.friend-list .friend-card .card-info{
  padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg{
  margin-top: -60px;
  border: 7px solid #fff;
}

img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.text-green {
    color: #8dc63f;
}