

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 8px;
}

.messageImgNotOwner {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }


.btn-template-chatbot{
  background: #5fcf80;
  color: white;
  transition: 0.3s;
}

.btn-template-chatbot:hover{
   color: white;
}


  #center-text {          
    display: flex;
    flex: 1;
    flex-direction:column; 
    justify-content: center;
    align-items: center;  
    height:100%;
  }

  #chatbotImage{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 20px;
    height: 20px;  
    border-radius: 50%;
    cursor: pointer;
  }
  #chat-circle {
    background-image: url("../img/chatbot1.png");
    background-size: 40px 50px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2147483647 !important;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 20px;
    height: 20px;  
    border-radius: 50%;
    padding: 28px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .btn#my-btn {
       background: white;
      padding-top: 13px;
      padding-bottom: 12px;
      border-radius: 45px;
      padding-right: 40px;
      padding-left: 40px;
      color: #5865C3;
  }
  #chat-overlay {
      background: rgba(255,255,255,0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: none;
  }

  .chat-box {
    z-index: 2147483647 !important;
    display:none;
    background: white;
    position:fixed;
    right:30px;
    bottom:50px;  
    width:330px;
    height: 443px;;
    border-radius:5px;  
  /*   box-shadow: 0px 5px 35px 9px #464a92; */
    box-shadow: 0px 5px 35px 9px #ccc;
    z-index: 10000;
  }
  .chat-box-toggle {
      margin-left:70%;
      cursor: pointer;
  }
  .chat-box-header {
    background: #5FCF80;
    height:40px;
    border-top-left-radius:5px;
    border-top-right-radius:5px; 
    color:white;
    text-align:center;
    font-size:15px;
    padding-top:7px;
  }
  .chat-box-body {
    position: relative;  
    height:400px;  

    overflow: hidden;
  }
  .chat-box-body:after {
    content: "";
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100%;
    position: absolute;
    z-index: -1;   
  }
  #chat-input {
    background: #f4f7f9;
    width:80%; 
    position:relative;
    height:41px;  
    padding-top:10px;
    padding-right:50px;
    padding-bottom:10px;
    padding-left:15px;
    border:none;
    resize:none;
    outline:none;
    border:1px solid #ccc;
    color:#888;
    border-top:none;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;  
  }
  .chat-input > form {
      margin-bottom: 0;
  }
  #chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
  }
  #chat-input::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
  }
  #chat-input:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
  }
  #chat-input:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }
  .chat-submit {  
    position:absolute;
    bottom:3px;
    right:10px;
    background: transparent;
    box-shadow:none;
    border:none;
    border-radius:50%;
    color:#5FCF80;
    width:35px;
    height:35px;  
  }
  .chat-logs {
    padding:15px; 
    height: 400px;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  
  .chat-logs::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  
  .chat-logs::-webkit-scrollbar
  {
    width: 5px;  
    background-color: #F5F5F5;
  }
  
  .chat-logs::-webkit-scrollbar-thumb
  {
    background-color: #5FCF80;
  }
  
  
  
  @media only screen and (max-width: 500px) {
     .chat-logs {
          height:40vh;
      }
  }
  
  .chat-msg.user > .msg-avatar img {
    width:35px;
    height:35px;
    border-radius:50%;
    float:left;
  }
  .chat-msg.self > .msg-avatar img {
    width:35px;
    height:35px;
    border-radius:50%;
    float:right;
  }
  .cm-msg-text {
    
    background:white;
    padding:10px 15px 10px 15px;  
    color:#666;
    max-width:75%;
    float:left;
    margin-left:10px; 
    position:relative;
    margin-bottom:20px;
    border-radius:30px;
  }
  .chat-msg {
    clear:both;    
  }
  .chat-msg.self > .cm-msg-text {  
    float:right;
    margin-right:10px;
    background: #5FCF80;
    color:white;
    -webkit-line-break: normal !important;
    height: auto;
  }
  .cm-msg-button>ul>li {
    list-style:none;
    float:left;
    width:50%;
  }
  .cm-msg-button {
      clear: both;
      margin-bottom: 70px;
  }
  /*------------------notif---------------------*/
  .badge-notification i {
    width: 100px!important;
    height: 100px!important;
      display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    
  }
  
  
  .badge-notification .badge:after {
    content: "100";
    position: absolute;
    background: blue !important;
    height: 3rem;
    top: 1rem;
    right: 1.5rem;
    width: 3rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white !important;
    border: 1px solid blue !important;
  }
  
  
  #notifBot .fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
  }