/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5fcf80; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5ac279; 
  }

.modalBackground {
    width: 100vw;
    height: 100%;
    background-color: rgba(184, 174, 174, 0.247);
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    height: 88%;
    overflow-y: auto ;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #cancelBtn {
    background-color: red;
    color:white;
  }

  .myBtn{
    background: #5fcf80;
    color: white;
    transition: 0.3s;
    border-radius:15px ;
    font-size: 14px;
    padding: 1% 1.5%;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
  }

  .greenRadio{
    background-color:white;
  }
  
  .greenRadio:checked{
    background-color:#5FCF80;
  }



  